@import "tailwindcss";

:root {
  --font-lexend: var(--font-lexend-tera);
}

body {
  background: #000;
  color: #fff;
  font-family: var(--font-lexend), system-ui, sans-serif;
}

.text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
}


/* Carousel Animation */
@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel-scroll 40s linear infinite;
}

.animate-carousel:hover {
  animation-play-state: play;
}